{% extends "base.html" %}
{% block content %}

<div class="form-box">
    <h2>Add Booking</h2>

    <form method="POST" action="/add_booking">
        <input type="text" name="customer_name" placeholder="Customer Name" required>

        <input type="text" name="contact_number" placeholder="Contact Number" required>

        <input type="text" name="pickup" placeholder="Pickup Location" required>

        <input type="text" name="drop_location" placeholder="Drop Location" required>

        <input type="date" name="date" required>

        <input type="time" name="time" required>

        <input type="text" name="vehicle_number" placeholder="Vehicle Number" required>

        <input type="text" name="driver_name" placeholder="Driver Name" required>

        <input type="number" name="total_payment" placeholder="Total Payment ₹" required>

        <input type="number" name="paid_amount" placeholder="Paid Amount ₹" value="0" required>

        <button type="submit">➕ Add Booking</button>
    </form>
</div>

{% endblock %}
