@app.route("/edit/<int:id>", methods=["GET", "POST"])
def edit_booking(id):
    if "user" not in session:
        return redirect("/")

    conn = db()
    booking = conn.execute("SELECT * FROM bookings WHERE id=?", (id,)).fetchone()

    if request.method == "POST":
        customer_name = request.form["customer_name"]
        contact_number = request.form["contact_number"]
        pickup = request.form["pickup"]
        drop_location = request.form["drop_location"]
        date = request.form["date"]
        time = request.form["time"]
        vehicle_number = request.form["vehicle_number"]
        driver_name = request.form["driver_name"]

        total = float(request.form["total_payment"])
        paid = float(request.form["paid_amount"])

        # ❌ VALIDATION (IMPORTANT)
        if paid > total:
            conn.close()
            return render_template("edit_booking.html",
                                   booking=booking,
                                   error="Paid amount cannot be greater than Total ❌")

        # ✔️ STATUS AUTO
        status = "Paid" if paid >= total else "Pending"

        conn.execute("""
            UPDATE bookings SET
            customer_name=?, contact_number=?, pickup=?, drop_location=?,
            date=?, time=?, vehicle_number=?, driver_name=?,
            total_payment=?, paid_amount=?, payment_status=?
            WHERE id=?
        """, (
            customer_name,
            contact_number,
            pickup,
            drop_location,
            date,
            time,
            vehicle_number,
            driver_name,
            total,
            paid,
            status,
            id
        ))

        conn.commit()
        conn.close()
        return redirect("/dashboard")

    conn.close()
    return render_template("edit_booking.html", booking=booking)
